<h2>Choose an action: </h2>
<ul>
    <h3>Add record to collection </h3>
    <div>
        Record name:
        <input #name />
        Artist:
        <input #artist />
        Year:
        <input #year />
        <button (click)="add(name.value, artist.value, year.value); name.value=''; artist.value=''; year.value=''"> Submit </button>
    </div>
</ul>
<ul>
    <h3>Edit selected record {{selectedRecord.name}} {{selectedRecord.artist}} {{selectedRecord.year}} </h3>
    <form #editForm="ngForm" (ngSubmit)="update(editForm.value)">
        Record name:
        <input name="name" [ngModel]="selectedRecord.name" required>
        Artist:
        <input name="artist" [ngModel]="selectedRecord.artist" required>
        Year:
        <input name="year" [ngModel]="selectedRecord.year" required>
        <button type="submit">Submit</button>
    </form>
</ul>